{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block h1 %}We are ComIT{% endblock %}

{% block h2 %}
All of our programs are designed and delivered by local professionals <br> and volunteers from leading tech companies.
{% endblock %}

{% block p %}
We are learning how to build web apps using Python.
{% endblock %}

{% block main %}
<p>We run our three-month, part-time courses, tailoring them based on the technology needs <br>and demands of local employers to ensure our graduates are developing skills that will set them up for success in their local job market.</p>

<hr>
<h1>Hello, {{ user.username }}!</h1>
<p>Welcome to your Contact page.</p>
<br>
<a href=""><button>Logout</button></a>
{% endblock %}