{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block h1 %}Let's get in touch{% endblock %}
{% block h2 %}Social Media{% endblock %}
{% block p %}We will be glad to hear any feedback from you{% endblock %}

{% block main %}
<ol>
  <li>
    {% for media in medias %}
      {{ media }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </li>
</ol>

<hr>
<h1>Hello, {{ user.username }}!</h1>
<p>Welcome to your Contact page.</p>
<br>
<a href="{% url 'accounts:logout' %}"><button>Logout</button></a>
{% endblock %}