{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block h1 %}Welcome to the ComIT Course{% endblock %}
{% block h2 %}Visit around{% endblock %}
{% block p %}Our February 2026 - May 2026 Cohort{% endblock %}

{% block main %}
<ol>
  <li>Name of the Course: {{ name }}</li>
  <li>Students quantity: {{ students }}</li>

  <li>
    Students Names:
    {% for student in names %}
      {{ student }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </li>

  <li>Status: {{ is_active|yesno:"Active,Inactive" }}</li>
</ol>

<hr>
<h1>Hello, {{ user.username }}!</h1>
<p>Welcome to your Contact page.</p>
<br>
<a href="{% url 'accounts:logout' %}"><button>Logout</button></a>
{% endblock %}