{% extends 'base.html' %}

{% block title %}News{% endblock %}

{% block h1 %}The latest ComIT news{% endblock %}

{% block h2 %}
and resources of interest
{% endblock %}

{% block p %}
We are learning how to build web apps using Python.
{% endblock %}

{% block main %}
<ol>
  <li>
    {% for i in news %}
      {{ i }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </li>
</ol>

<hr>
<h1>Hello, {{ user.username }}!</h1>
<p>Welcome to your Contact page.</p>
<br>
<a href="{% url 'accounts:logout' %}"><button>Logout</button></a>
{% endblock %}